<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RangiHub</title>

    <link rel="stylesheet" href="/public/css/style.css" />
    <script type="module" src="https://unpkg.com/blurhash-img?module"></script>
  </head>
  <body>
    <blurhash-img hash="<%- blurHash %>"> </blurhash-img>
    <header style="background-image: url(<%- image %>)">
      <p class="attribution">
        Photo by <a href="<%- authorUrl %>" target="_blank"><%- author %></a> on
        <a href="https://unsplash.com/" target="_blank">Unsplash</a>
      </p>
      <nav>
        <div>
          <img src="" alt="Logo" />
        </div>
        <div>
          <a href="#">Open App</a>
        </div>
      </nav>
      <h1>RangiHub</h1>
      <a href="#">Open App</a>
    </header>

    <section>
      <div class="row imgLeft">
        <img src="/public/img/class.svg" />
        <div class="description">
          <h2>Get notified when your classes start</h2>
          <p>
            RangiHub allows you to know what and when your next class starts and
            notifies you!
          </p>
          <p>
            You will never forget what class is next and when it starts ever
            again after using this feature!
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="row imgRight">
        <div class="description">
          <h2>Easily communicate with your friends</h2>
          <p>
            RangiHub allows you to easily communicate with all your friends! You
            can easily share notes, discuss your classes, and talk about
            anything to your friends!
          </p>
        </div>
        <img src="/public/img/chat.svg" />
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/public/js/index.js"></script>
  </body>
</html>
