<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RangiHub</title>

    <link rel="stylesheet" href="/public/css/login.css" />
    <script type="module" src="https://unpkg.com/blurhash-img?module"></script>
  </head>
  <body>
    <p class="attribution text-shadow">
      Photo by
      <a
        href="<%- authorUrl %>?utm_source=RangiHub&utm_medium=referral"
        target="_blank"
        ><%- author %></a
      >
      on
      <a
        href="https://unsplash.com/?utm_source=RangiHub&utm_medium=referral"
        target="_blank"
        >Unsplash</a
      >
    </p>
    <form method="POST" action="/auth/login" class="box-shadow">
      <h1>RangiHub</h1>
      <label>Username</label>
      <input type="text" name="username" autocomplete="username" />
      <label>Password</label>
      <input type="password" name="password" autocomplete="current-password" />
      <button type="submit">Login</button>
    </form>
    <blurhash-img hash="<%- blurHash %>"></blurhash-img>
    <section
      id="background"
      style="
        background-image: url(<%- image %>?utm_source=RangiHub&utm_medium=referral);
      "
    ></section>

    <script src="/public/js/login.js"></script>
  </body>
</html>
