@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333e;
  font-size: 1rem;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  padding: 0;
  margin: 0;
  text-transform: lowercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.hidden {
  display: none;
  opacity: 0;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#spinner > * {
  display: block;
  text-align: center;
  margin: 25px;
  position: relative;
  left: 50%;
  transform: translateX(calc(-50% - 25px));
}

#appBack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  padding: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 0px rgba(0, 0, 0, 0.39);
  border-radius: 25px;
  width: auto;
}

#loginScreen > form {
  margin-top: 35px;
  margin-bottom: 50px;
}

#loginScreen > form > label {
  margin-top: 15px;
  font-weight: 500;
}

#loginScreen > form > input,
#upcoming > div {
  width: 1000px;
  background: #f0f0f0;
  border-radius: 5px;
  border: none;
  padding: 15px;
  font-size: 15px;
}

#upcoming > div {
  margin-top: 15px;
  position: relative;
  overflow: none;
}

.className {
  font-size: 32px;
  font-weight: bold;
}

.classTime {
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(40%);
  color: white;
  opacity: 0.35;
}

#loginScreen > form > * {
  display: block;
}

strong {
  text-transform: uppercase;
}

form > button {
  position: absolute;
  bottom: 0;
  right: 50px;
  transform: translateY(50%);
  padding: 25px;
  padding-left: 75px;
  padding-right: 75px;
  border: none;
  background: linear-gradient(92.69deg, #5e6eff 0%, #3894ff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}

blurhash-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 1s;
  z-index: 1;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: center center no-repeat;
  background-size: cover;
}

.attribution,
#version {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  color: #e9eaeb;
  z-index: 99;
}

#version {
  right: unset;
  left: 0;
}

a,
.a {
  cursor: pointer;
  color: unset;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s opacity ease-in-out;
}

a:hover,
.a:hover {
  opacity: 1;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-shadow {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 540px) {
  :root {
    font-size: 14px;
  }
}
