@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 1rem;
  background-color: #fff;
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
  margin: 0.4rem 0;
}

img:not(nav > div > a > img) {
  width: 100%;
}

blurhash-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 1s;
}

header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: center center no-repeat;
  background-size: cover;
}

header > * {
  z-index: 1;
}

header .attribution {
  position: absolute;
  top: 80vh;
  transform: translateY(-200%);
  right: 0;
  margin: 1rem;
  color: #e9eaeb;
}

header h1 {
  color: #eaeef3;
}

header > a {
  padding: 1rem;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(93.58deg, #0082fa 0%, #0055fa 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0.75rem 2.5rem;
}

nav {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  z-index: 999;
}

nav > div > a > img {
  position: absolute;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);

  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header > nav {
  position: absolute;
}

nav .button {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(93.58deg, #0082fa 0%, #0055fa 100%);
  border-radius: 25px;
  padding: 0.75rem 2.5rem;
}

#dynamic-nav {
  position: fixed;
  transition: opacity 0.2s ease-in-out;
}

#dynamic-nav.hidden {
  opacity: 0;
}

a:not(.button, .nocss) {
  color: unset;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s opacity ease-in-out;
}

a:not(.button, .nocss):hover {
  opacity: 1;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section {
  padding: 4rem 12rem;
}

section h2 {
  font-size: 3rem;
  margin: 0.7rem 0;
}

.row {
  --columns: 12;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 0 2rem;
}
.row > * {
  margin: auto;
  padding: 1rem;
}
.row.imgLeft img {
  grid-column: span 6;
}
.row.imgLeft .description {
  grid-column: 8 / span 5;
}

.row.imgRight img {
  order: 2;
  grid-column: 7 / span 6;
}
.row.imgRight .description {
  order: 1;
  grid-column: span 5;
}

section.alt-background {
  background-color: #f8f8f8;
}

@media screen and (max-width: 1366px) {
  :root {
    font-size: 14px;
  }
  section {
    padding: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }
  p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  section {
    padding: 2rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 10px;
  }
  section {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 16px;
  }
  .row {
    --columns: 6;
  }
  .row img,
  .row .description {
    order: initial !important;
    grid-column: span var(--columns) !important;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
  section {
    padding: 1rem;
  }
  .row {
    padding: 2rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 12px;
  }
  section {
    padding: 0;
  }
  .row {
    padding: 1rem;
  }
}
